.signupLeft {
  background: linear-gradient(161deg,
      rgba(128, 255, 96, 0.16) 0.51%,
      rgba(5, 13, 187, 0.16) 100%);
  height: 100vh;
  position: relative;
  width: 598px !important;
}

.signupParentDiv {
  padding: 130px !important;
}

.signupText {
  color: #4f4f4f;
  font-size: 18.73px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.523%;
  /* 34.355px */
  letter-spacing: 1.415px;
}

.signupImg {
  position: absolute;
  bottom: 20px;
  margin-right: -90px;
  width: 450px;

}

.createAccountDiv h2 {
  margin-top: 50px;
}

/* signup form  */
.button-box {
  width: 51%;
  border: 2px solid #5e17eb;
  text-align: center;
  margin: 32px auto;
  position: relative;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 39px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
  color: #747474;

  font-weight: 600;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 180px;
  height: 100%;
  background-color: #5e17eb;
  border-radius: 30px;
  transition: 0.5s;
}

.toggle-btn.active {
  color: white;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.loginWithgoogle {
  color: #6c63ff;
}

.lognwithbutton {
  border: 1px solid #6c63ff;
  display: flex;
  margin: 0 auto;
  outline: none;
  border-radius: 5px;
  padding: 8px 70px;
}

.account__login--divide {
  text-align: center;
  position: relative;
  padding: 1rem 0;
  position: relative;
  margin: 0 auto;
  width: 30%;
}

.account__login--divide:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background: #898989;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.account__login--divide__text {
  padding: 0 0.8rem;
  display: inline-block;
  background: #ffffff;
  position: relative;
  font-weight: 500;
  color: #898989;
}

.emailInput {
  border: none;
  top: 40px;
  left: 10px;
  position: relative;
  padding-left: 20px;
  width: 80%;
}

.emailInput::placeholder {
  color: #909090;
  font-size: 18.73px;
  font-weight: 500;
  line-height: 20.11px;
  letter-spacing: 0.21px;
  word-wrap: break-word;
}

.emailInput:focus-visible {
  border: none;
  outline: none;
}

.field {
  border-bottom: 1px solid #909090;
  width: 50%;
  text-align: left;
  margin: 0 auto;
}

.field img {
  width: 25px;
  padding: 10px 0px;
}

.error {
  display: none;
}

.createAccountButton {
  padding: 10px 130px;

  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.createAccountButton span {
  color: #ffffff;
}

#ownerSignup {
  left: 50px;
}

#tenantSignup {
  left: 450px;
  display: none;
}

.iconsSignupPosition {
  position: relative;
  top: 5px;
}

.form__sign__up {
  height: 50px;
}

.email__checkbox {
  text-align: right;
  width: 83%;
  margin-left: 57px;
  padding: 0px 65px;
  margin-top: 30px;
  color: #4F4E4E;
  font-family: Inter;
  font-size: 17.16px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.023%;
  /* 16.649px */
  letter-spacing: 0.172px;

}

.email__checkbox input {
  width: 13.244px;
  height: 13.244px;
  flex-shrink: 0;
  border-radius: 3.654px;
  border: 1.37px solid #515151;
}

.email__checkbox label{
  padding:0 ;
  padding-right: 30px;
}

.email__checkbox span {
  color: #5E17EB;
  font-family: Inter;
  font-size: 15.16px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.023%;
  letter-spacing: 0.172px;
}

.already__acc {
  /* padding-left: 75px; */
  color: #555;
  font-family: Inter;
  font-size: 15.73px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.023%;
  /* 18.172px */
  letter-spacing: -0.749px;
}

.signup__lower{
  padding: 10px 0px;
}

@media screen and (max-width:322px) {
  .signup__head {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup__head a {
    font-weight: 800 !important;
    font-size: 30px !important;
  }

  .signupParentDiv {
    padding: 34px !important;
  }

  .signupImg {
    position: absolute;
    bottom: 20px;
    margin-right: 0px;
    width: 450px;
  }

  .createAccountDiv h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 7px;
  }

  .lognwithbutton {
    border: 1px solid #6c63ff;
    display: flex;
    margin: 0 auto;
    outline: none;
    border-radius: 5px;
    padding: 8px 55px;
  }

  .field {
    border-bottom: 1px solid #909090;
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }

  .email__checkbox {
    text-align: right;
    width: 83%;
    margin-left: 0px;
    padding: 0px;
    margin-top: 30px;
    color: #4F4E4E;
    font-family: Inter;
    font-size: 10.16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%;
    letter-spacing: 0px;
  }

  .email__checkbox label {
    font-size: 13px;
    text-align: center;
    padding-right: 0;
  }

  .email__checkbox label span {
    font-size: 13px;
  }

  .form__check {

    display: block;
    min-height: 1.5rem;
    padding-left: 3.5em;
    margin-bottom: 0.125rem;

  }

  .createAccountButton {
    padding: 10px 90px;
}

.already__acc {
  padding-left: 0px;
  text-align: center;
}
}