.RegisterButton {
  color: #fff;
  font-size: 15px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
}

nav {
  display: flex;
  align-items: center;
  padding: 0px 25px;
  background: #fff;
}
nav.active {
  background: #fff;
}
.bg-Black-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 12 8 / var(--tw-bg-opacity));
}
.fixed-top {
  animation-name: fadeInUp;
  animation-duration: 1s;
  border-bottom: 1px solid #cecece;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
nav .menu-img {
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}
nav .logo {
  width: 30px;
  cursor: pointer;
}
nav.active .logoName {
  color: #000;
}
.logoName img {
  padding-right: 10px;
}
.imanower {
  color: #fff;
}
nav.avtive #navbarDropdown a {
  color: #000;
}
nav .logoName {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 800;
}
nav .rightSide {
  flex: 1;
  text-align: right;
}
nav .innerRightSide {
  display: inline-block;
  margin: 0 10px;
}

.hero-inner,
.hero-item {
  border-radius: 50%;
}
.hero-item {
  position: absolute !important;
  top: 190px;
  left: 600px;
  background: linear-gradient(224.66deg, #667df5, #5e17eb);
  width: 88px;
  height: 88px;
}
.hero-inner {
  top: 55px;
  left: 30px;
  background-color: #fff;
  filter: blur(60px);
  width: 60px;
  height: 60px;
  position: relative;
}

.discover-a-place-container {
  /* position: absolute; */
  /* top: 156px; */
  /* left: 59px; */
  letter-spacing: -0.02em;
  line-height: 97.02%;
}
.discover-a-place {
  margin: 0;
  font-size: 53px;
  font-weight: 700;
  line-height: 57px;
  color: #fff;
}
.connect {
  color: #fff;
  position: absolute;
  width: 30%;
  top: 290px;
  padding: 20px;
  margin-top: 10px;
}
.search-box {
  position: absolute;
  top: 480px;
  padding: 0px 12px;
  border-radius: 10px;
  left: 60px;
  background: #fff;
}
.form-check {
  font-size: 12px;
}
label {
  font-size: 15px;
}
.searchRoom {
  width: 100%;
  padding-top: 12px;
  border: none;
  outline: none;
}
.searchliButtom {
  margin-bottom: 0px !important;
  padding-top: 0px;
  padding-bottom: 10px;
}
.homeSectionCounter {
  position: absolute;
  outline: none;
  width: 50%;
  top: 607px;
  padding: 41px 15px;
  border-radius: 10px;
  color: #fff;
  left: 2%;
  border: none;
}
.searchBoxButton {
  position: absolute;
  outline: none;
  top: 480px;
  padding: 35px 14px;
  border-radius: 10px;
  color: #fff;
  left: 27%;
  background: #624bf0;
  border: none;
}
.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.dropdown-menu {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-toggle::after {
  display: none;
}
#home {
  min-height: 100vh;
  height: 100%;
  background: #100c08;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#home .home_text h1 {
  font-size: 3.938rem;
  z-index: 5;
  font-weight: 700;
  line-height: 4.938rem;
  top: 100px;
  /* left: 50px; */
  position: absolute;
  color: #fff;
  padding: 1.063rem;
}
.home-image {
  text-align: right;
  border: 24px solid #2b2b2b;
  /* position: absolute; */
  /* top: 140px; */
  /* left: 70%; */
  border-radius: var(--br-244xl) var(--br-244xl) 0 0;
  background-color: #7ec8d5;
  border: 24px solid #2b2b2b;
  box-sizing: border-box;
  width: 500px;
  height: 748px;
  overflow: hidden;
  margin: 0px 140px;
}
.home-image img {
  width: 100%;
  height: 100%;
}
.searchBar {
  background: #fff;
  border-radius: 10px;
  padding: 2px;
}
.searchButton {
  background: #5e17eb;
  padding: 30px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
}
.counterDiv {
  color: #fff;
  margin-top: 150px;
}
.counter {
  font-size: 50px;
  font-weight: 700;
}

/* new code */
@media (min-width: 768px) {
  .md\:w-\[700px\] {
    width: 700px;
  }
}
.w-screen {
  width: 100vw;
}
.h-\[400px\] {
  height: 400px;
}


#user__name{
  background-color: #fff;
  border: none;
  outline: none;
}