.banner-section {
  position: relative;
  background-color: #100c08;
  padding: 50px 0px;
}

.discover_a {
  font-size: 3rem;
  font-family: "Inter";
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-weight: 700;

  max-width: 36rem;
}

.discover_a span{
  font-size: 3.5rem;
  font-family: "Inter";
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-weight: 700;

  max-width: 36rem;
}

.hero__description {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-width: 28rem;
}

.banner-heading {
  z-index: 2;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ellipse {
  position: absolute;
  top: 150px;
  left: 385px;
  width: 88px;
  height: 88px;
  object-fit: cover;
  z-index: 1;
}

span {
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
  color: rgba(195, 195, 195, 1);
}

.search-form {
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 0-2.1848738193511963px 28.4px -13.11px rgba(0, 0, 0, 0.25);
  border: 1.1px solid #e7e7e7;
  box-sizing: border-box;
  font-size: 15.5px;
  color: #838383;
  padding: 0px 10px;
  margin-top: 60px;
}

.full_house {
  font-size: 11px;
  font-family: "Inter";
  font-weight: 500;
  color: rgba(131, 131, 131, 1);
  padding-left: 10px;
}

.bullect-point {
  padding: 10px;
}

.budget {
  padding: 12px 0px 10px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 13.12px;
  font-family: "Inter";
  color: rgba(131, 131, 131, 1);
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.line-left {
  border-right: 1px solid #ced4da;
}

.colloge-name,
.select-city {
  display: block;
  width: 100%;
  padding: 15px 10px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #838386;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::placeholder {
  color: rgba(131, 131, 131, 1);
}



.box-search {
  text-align: center;
  margin-top: 60px;
  border-radius: 18.01px;
  color: #ffffff;
  background-color: #5e17eb;
  border-color: #5e17eb;
  width: 135px;
  height: 93.75px;
  padding: 36px 38px;
}



.box-search:focus {
  color: #ffffff;
  background-color: #5e17eb;
  border-color: #5e17eb;
}


.counter-row {
  margin-top: 50px;
  width: 65%;
  display: flex;
}

.counter-item {
  align-items: center;
  width: 100%;
}

.vertical__1 {
  border-right: 3px solid white;
}

.counter-item h1 {
  font-size: 3rem;
  font-family: "Inter";
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}



.counter-item h4 {
  font-size: 15.68px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .ellipse {
    position: absolute;
    top: 175px;
    left: 200px;
    width: 88px;
    height: 88px;
    object-fit: cover;
    z-index: 1;
  }
}

.nav__padding{
  padding: 0;
}

.dropdown__menu {
  position: absolute;
  top: 20px;
  padding: 20px px;
  width: 247px;
  height: 150px !important;
  flex-shrink: 0;
}

@media screen and (max-width : 322px) {
  .discover_a {
    font-size: 2.25rem;
    text-align: center;
    max-width: 36rem;
    font-weight: 700;

  }
  .discover_a span{
    font-size: 2.45rem;
    text-align: center;
    max-width: 36rem;
    font-weight: 700;

  }

  .ellipse {
    position: absolute;
    top: 190px;
    left: 135px;
    width: 66px;
    height: 66px;
    object-fit: cover;
    z-index: 1;
  }

  .hero__description {
    align-items: center;
    max-width: 28rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1rem;
    margin-top: 20px;
    font-weight: 500;
  }

  .box-search {
    text-align: center;
    padding-left: 125px;
    border-radius: 18.01px;
    background-color: #5e17eb;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 8px 118px;
  }

  .counter-item {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .counter-item h4 {
    font-size: .75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-left: 10px;
  }

  .counter-item h1 {
    font-size: 2rem;
    font-family: "Inter";
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
  }

  .counter-row {
    margin-top: 50px;
    width: 108%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .vertical {
    border-right: 3px solid white;
    padding-right: 20px;
  }
  
  .vertical__1 {
    border-right: none;
  }
}