.listing__body {
  width: 90%;
  height: 506px;
  background: url("/image/listbg.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.listing {
  margin: 0 auto;
}

.listing__title {
  color: rgba(17, 28, 85, 0.9);
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.023%;
  /* 32.018px */
  margin-left: 65px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.listing__detail {
  width: 100%;
  height: 561px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.listing__detail__menu {
  padding: 47px 19px;
  margin-bottom: 16px;
}

.listing__detail {
  border-bottom: 1px solid #e0e0e0;
}

.nav-pills .list__link.active,
.nav-pills .show > .list__link {
  width: 100%;
  height: 69px;
  flex-shrink: 0;
  border-radius: 45px 0px 0px 45px;
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  color: #fff;
  align-items: center;
  border: none;
}

.list__link {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0px;
}

.nav-link {
  padding: 0;
}

.list__link img {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 20px;
}

.lisitngTop {
  margin-top: 32px;
  margin-left: 30px;
}

.list__link {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.divide {
  width: 100%;
  margin-bottom: 30px;
}

.form-label {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.listing__pg {
  padding: 0 42px;
  padding-top: 25px;
  padding-bottom: 57px;
  width: 100%;
  height: 506px !important;
  background-color: #fff;
  box-shadow: 0px 1px 4px grey;
  border-radius: 17px;
}

.listing__pg h4 {
  color: rgba(17, 28, 85, 0.9);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  margin: 18px 0;
  line-height: normal;
}

.listing__pg h3 {
  color: rgba(17, 28, 85, 0.9);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-control {
  width: 50%;
  height: 35px;
  flex-shrink: 0;
}

.btn-check:active + .btn__outline__primary,
.btn-check:checked + .btn__outline__primary,
.btn__outline__primary.active,
.btn__outline__primary.dropdown-toggle.show,
.btn__outline__primary:active {
  background: rgba(97, 85, 223, 0.3);
  border: 0.2px solid #6155df;
  color: black;
}

.btn__outline__primary {
  width: 50%;
  height: 104px;
  flex-shrink: 0;
  border-radius: 9px;
  border: 0.2px solid #6155df;
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-shadow: 0.2px 0.9px 0.9px 0px rgba(0, 0, 0, 0.2);
}

.btn__outline__primary:hover {
  background: rgba(97, 85, 223, 0.3);
}

.btn__outline__primary:active {
  border: 0.2px solid #6155df;
}

.Listing__option {
  width: 180px !important;
  height: 104px !important;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.room__detail__option {
  padding: 10px 30px;
  width: 80%;
  justify-content: space-between;
}

.listing__foot__btn-1 {
  color: #111c55;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 97.023%;
  border-radius: 7px;

  /* 21.345px */
  width: 160px;
  height: 55px;
  flex-shrink: 0;
}

.listing__foot__btn-2 {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 97.023%;
  /* 21.345px */
  width: 220px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 7px;
  background: rgba(17, 28, 85, 0.9);
  margin-left: 20px;
}

.listing__foot__btns {
  padding: 0px 245px !important ;
  margin: 20px 200px;
}

